body{
font-family: 'Roboto', sans-serif;    
}

@font-face{
    font: 'Roboto';
    src: url('../fonts/RobotoRegular.ttf') format("truetype");
    font-weight: 400;
}

@font-face{
    font: 'Roboto';
    src: url('../fonts/Robotobold.ttf') format("truetype");
    font-weight: 700;
}

.container{
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__header{
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 90px;
}

.movie-list__table{
    width: 100%;  
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    
}
   
.movie-list__table th {
    color: #ffffff; 
    background: #a3cc40;
    font-size: 30px;
    font-weight: 700;
}

.type_one {
    background: #373737;
    color: #ffffff; 
    font-size: 22px;
    
}

.type_two {
    background: #4b4d4f;
    color: #ffffff; 
    font-size: 22px;
}

th, td {padding: 25px 25px;}

#left { text-align: left; }