/**Шрифты*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: local('../fonts/Roboto Medium Italic'), local('../fonts/Roboto-MediumItalic'),
        url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: local('../fonts/Roboto Italic'), local('../fonts/Roboto-Italic'),
        url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('../fonts/Roboto Bold'), local('../fonts/Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('../fonts/Roboto'), local('../fonts/Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('../fonts/Roboto Medium'), local('../fonts/Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: local('../fonts/Roboto Bold Italic'), local('../fonts/Roboto-BoldItalic'),
        url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: local('../fonts/Roboto Thin Italic'), local('../fonts/Roboto-ThinItalic'),
        url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('../fonts/Roboto Black'), local('../fonts/Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('../fonts/Roboto Light'), local('../fonts/Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: local('../fonts/Roboto Light Italic'), local('../fonts/Roboto-LightItalic'),
        url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.eot');
    src: local('../fonts/Roboto Black Italic'), local('../fonts/Roboto-BlackItalic'),
        url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('../fonts/Roboto Thin'), local('../fonts/Roboto-Thin'),
        url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/**Сетка макета*/

.container {
    max-width: 57rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
}

/**Общие стили*/


html {
    font-size: 1.4vw;
   
}

body{
    font-family: 'Roboto', sans-serif; 
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    -webkit-text-size-adjust: 100%;
    color: #242424;
    overflow-x:hidden;
}


img {
    max-width: 100%;
}

input, textarea, select {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #6c6c6c;
    padding: 0.75rem 0.55rem;
    border: 1px solid #bebebe;
    border-radius: 5px;
    outline: 0;
    transition: .2s;
    box-sizing: border-box;
    outline: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/down-arrow.svg) 96% center / 5% no repeat #fff;
}


.button {
 z-index: 1;
 padding: 1rem 1.1rem;
 width: 12rem;
 font-size: 1rem;
 color: #fff;
 background-color: rgb(144, 210, 61);
 border-radius: 0.75rem;
 border:none;
 border: 0.1rem solid rgb(144, 210, 61);
} 

p {
    line-height: 1.2;
    font-size: 0.6rem;
    font-weight: 300;
 }


.block-top {
    background: url("../img/top_bg.jpg") 50%/cover no-repeat;
    height: max-content;
    position: relative;
}

.block-top::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.55rem solid #fff;
}

.block-top__menu {
    padding: 3.2rem 0rem 0rem;
}

.block-top__main {
    padding: 8.2rem 0 25rem;
    line-height: 5rem;
    text-align: center;
}

.block-top__logo {
    display: inline-block;
    float: left;
    width: 9.4rem;
}

.block-top__nav li {
    display: inline-block;
    line-height: 2.25rem;
    float: left;
}

nav li:first-child {
    padding-left: 5.65rem;
}

.block-top__nav li + li {
    margin-left: 2rem;
}

.block-top__nav a {
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.2s;
}

.block-top__city {
    margin-left: 2.25rem;
    margin-top: 0.75rem;
    font-weight: 300;
    text-align: right;
    color: white;
    text-transform: none;
    display: inline-block
}

.block-top__city a {
    font-weight: 300;
    color: white;
    text-transform: none;
    transition: 0.2s;
}

.block-top__city a:hover {
    color: #90d23d;
}

.block-top__nav a:hover {
    color: #90d23d;
}

.main-header1 {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 100;
    font-style: normal;
}

.main-header2 {
    line-height: 1.2;
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 400;
}


.header2 {
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.header3 {
    font-size: 1.9rem;
    font-weight: 900;
    margin-bottom: 1.15rem;
}

.header4 {
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

.block-advantages {
    padding-top: 5rem;
    position: relative;
}

.welcome-block-wrapper {
    width: 21.75rem;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: -10.5rem;
    background-color: #fff;
    right: 4.35rem;
    padding: 1.6rem 3.25rem 2rem 1.6rem;
}

.advantages__wrapper {
    padding-top: 4.4rem;
    display: flex;
    align-items: center;
    margin: 0 0.75rem;  
}

.advantages__list {
    padding: 0 0.75rem;
    flex: 0 0 33.33%; 
}

.advantages__header {
    font-size: 1.9rem;
    font-weight: 900;
    margin-bottom: 1.15rem;
    text-align: center;
    flex: 1;
    
}

.advantages__img {
    margin-bottom: 0.75rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__img img {
    display: block;
    width: 10rem;
}
    
.block-table {
    max-width: 57rem;
    margin: 0 auto;
    padding-top: 0.25rem;
}

.movie-list__header{
    color: #252525;
    font-size: 2.75rem;
    text-align: center;
    font-weight: 700;
    margin-top: 7.2rem;
    margin-bottom: 4.2rem;
}

.movie-list__table{
    width: 100%;  
    border-collapse: collapse;
    border-radius: 0.75rem;
    overflow: hidden;
    vertical-align: top;
}
   
.movie-list__table th {
    color: #ffffff; 
    background: #a3cc40;
    font-size: 1.5rem;
    font-weight: 700;
    height: 2.2rem;
    width: 0.0rem;
}

/* 
.movie-list__time::after {
    content: ''; 
    position: absolute;
    left: 8rem;
    bottom: 1.6rem;
    border: 0.55rem solid transparent;
    border-top: 0.75rem solid #ffffff;
} */

.movie-list__time {
    text-align: left;
    position: relative;
}

.movie-list__film {
    text-align: left;
    position: relative;
}


/* .movie-list__film::after {
    content: '';
    position: absolute;
    left: 16rem;
    bottom: 2.1rem;
    border: 0.55rem solid transparent;
    border-bottom: 0.75rem solid #ffffff;
} */

.block-table__checkbox
{
    cursor: pointer;
}

.table-body__row {
    color: #ffffff; 
    font-size: 1.1rem;
    vertical-align: center;
    font-family: Roboto;
    height: 4.15rem;
}


.table-body__row .table__row-time {
    text-align: left;
    padding-left: 2.4rem;
}

.table__row-button {
    padding-left: 2rem;
    width: 0.7rem;
}

.table__row-button img {
    width: 1.5rem;
    height: 1.5rem;
}

tr:nth-child(odd){
    background: #373737;
}

tr:nth-child(even){
    background:#4b4d4f;
}

th, td {padding: 1rem 1rem;}

.block-table__checkbox {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}



.table__text-after {
    text-align: center;
    padding: 2rem 5rem
}

.block-gift {
    margin-top: 6.5rem;
    background: url("../img/b4_bg.jpg") no-repeat top center / cover;
    height: 38rem;
    width: 100%; 
    position: relative;
    background-size: cover
}

.block-gift::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 8.55rem solid #fff;
}
  
.block-gift::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 100vw solid transparent;
    border-top: 8.55rem solid #fff;
}

.block-gift__img {
    position: absolute;
    width: 18rem;
    height: 18rem;
}

.block-gift__present-text {
    position: absolute;
    width:34.6rem;
    top: 8.9rem;
    right: 3rem;
}

.block-gift__header {
    font-size: 2.75rem;
    color: #ffffff;
    font-weight: 900;
    text-align: right;
}

.block-gift__text {
    padding-top: 2rem;
    color: #ffffff;
    text-align: right;
    top: 2rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.block-gift__button {
    position: absolute;
    top: 13rem;
    right: 0;
    width: fit-content;
    
}

.button-effect:hover {
    background-color: transparent;
    color: rgb(144, 210, 61);
    
}

.popup {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.hidden {
    display: none;
}

.order-form {
    background: rgb(255, 255, 255);
    border-radius: 0.7rem;
    box-shadow: .05rem 0rem .25rem rgb(125, 125, 125) ;
    box-sizing: border-box;
    height: 20rem;
    width: 17rem;
    padding: 1rem;
    margin: 7rem auto;
    position: relative;
}

.modal__form {
    font-size: 0.8rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 1.4rem;
}

.input-text {
    width: 100%;
    margin-top: 0.5rem;

}

.checkbox {
    margin-top: 1.2rem;
}

.button-submit {
    margin-top: 0.9rem;
}

.popup-error-message {
    color: #cc0033;
    font-size: 0.6rem;
    line-height: 1.2rem;    
    display: none;
}

.error input,
.error select {
    background: #fce4e4;
    border: 0.05rem solid #cc0033;
    outline: none;
}


.error .popup-error-message {
    display: block;
}

.close {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.block-films__header {
    font-size: 2.75rem;
    font-weight: 700;
    padding-top: 7.5rem;
    padding-bottom: 2.25rem;
    padding-left: 1.75rem;
}

.block-films__text {
    padding-left: 1.75rem;
    padding-bottom: 2.25rem;
    width: 33rem;
}

.block-films {
    padding-bottom: 4.75rem;
}


.block-films__movie {
    padding: 2.1rem;
    position: relative; 
    display: flex;
    flex: 0 0 33.33%;
}

.block-films__movie:hover .block-films__table__description {
    transform: translateY(0%);
}

.block-films__table__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: rgb(144, 210, 61, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1.2rem;
    transform: translateY(100%);
    transition: 0.2s;
    overflow: hidden;
}

.block-films__relative {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.block-films__table__bg {
    display: block;
}

.block-films__table__bg img {
    height: 15.3rem;
    width: 15.3rem;
}

.block-films__table__header{
    font-size: 1.75rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 0.65rem;
}

.block-films__table__text {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.4;
    flex: 1;
}

.block-films__table__sep {
    width: 4.2rem;
    height: 0.3rem;
    background: #ffffff;
    margin-bottom: 0.65rem;
}

.block-films__table__links img {
    width: 1.4rem;
    height: 1.5rem;
}

.icon {
    display: inline-block;
}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -45px;
    top: 33%;
    font-weight: 600;
    font-size: 5rem;
    color: #90d23d;
  }
  
  .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -45px;
    top: 33%;
    font-weight: 600;
    font-size: 5rem;
    color: #90d23d;
  }
    

.map-block {
    width: 100%;
    background: #90d23d;
    height: 11.5rem;
    text-align: center;
}

.map-block__icon {
    padding-top: 3.25rem;
}

.map-block__text {
    padding-top: 1.4rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
}

.map-block__text p {
    font-size: 0.9rem;
}

.icon-footer {
    display: inline-block;
    padding-left: 0.3rem;
}

.icon-footer img {
    width: 2.5rem;
    height: 2.5rem;
}

.block__flex {
    display: flex;
    flex-wrap: wrap;
}

.block__item {
    background: #588370;
    font-size: 0.rem;
    color: #c0b2b2;
    height: 5rem;
    margin: 0.2%;
    flex: 0 0 24.6%;
    overflow: hidden;
}

.block__row1 {
    background: lightseagreen;
    min-height: 33.33%;
     overflow: hidden;
}

.block__row2 {
    background: lightcoral;
    min-height: 33.33%;
}

.block__row3 {
    background: lightyellow;
    min-height: 33.33%;
}

