body{
    font-family: 'Roboto', sans-serif;    
}

.title {
    font-size: 50px;
  }
.title2 {
    font-size: 40px;
  }

.title3 {
    font-size: 35px; 
}

.container{
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__header{
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 90px;
}

.movie-list__table{
    width: 100%;  
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    vertical-align: top;
    
}
   
.movie-list__table th {
    color: #ffffff; 
    background: #a3cc40;
    font-size: 30px;
    font-weight: 700;
}

.tableBody__row {
    color: #ffffff; 
    font-size: 22px;
    vertical-align: top;
    font-family: Roboto;
}

.tableBody__row .table__row-time {
    text-align: center;
}

.tableBody__row-dark {
    background: #373737;
}

.tableBody__row-light {
    background: #4b4d4f;
}

.tableBody__row-dark-light {
    background: #6c6c6c

}

th, td {padding: 20px 20px;}

#left { text-align: left; }