a:

a:link{
    color: red;
}

a:visited{
    color: salmon;
}

a:active:hover{
    font-size: 40px;
    color: blue;
}

p::first-line{
    font-size: 50px;
}

p::after{
 content: 'Тут у нас after';
}

p::before{
content: 'Тут у нас before'}

ul::